* {
	margin: 0 auto;
	padding: 0;
}

#wrapper {
	width: 375px;
	height: 667px;
	margin-top: 1em;
	position: relative;

	#homepage {
		position: absolute;
	    height:100%;
	    width:100%;
	    z-index: 1;
	    top: 0;
	    background-color: #f1c40f;
		text-align: center;
		// display: none;

		#homepage.hide {
			opacity: 0;
			height: 100%;
			width: 1%;
			transition: all .75s ease;
		}

	    #helpButton {
	    	width: 40px;
			height: 40px;
			border-radius: 10px;
			background-color: #F1C40F;
			margin: 10px 10px 75px 325px;
			display: flex;
			align-items: center;
			border: solid 2px white;

			.fa-question {
					width: 20px;
					height: 20px;
					color: white;
				}
	    }

	    #logo {
	    	width: 110px;
			height: 110px;
			border-radius: 10px;
			background-image: url('../img/logo.svg');
			margin-bottom: 120px;
	    }

	    h1 {
	    	color: #FFFFFF;
	    	font-size: 20px;
	    }
	}

	#helpContainer {
		width: 100%;
		height: 100%;
		background-color: #f1c40f;
		position: absolute;
		z-index: 2;
		top: 0;
		display: none;

		#helpContent {
			width: 345px;
			height: 637px;
			margin-top: 15px;
			text-align: center;
		}
	}

	#formContent {
	    height:100%;
	    width:100%;
		
		#searchContainer {
			width: 375px;
			height: 60px;
			background-color: #F1C40F;
			display: flex;
			align-items: center;

			#formInput {
				width: 310px;
				height: 38px;
				border-radius: 10px;
				border-style: none;
			}

			#submitBtn {
				width: 40px;
				height: 41px;
				border-radius: 10px;
				border-style: none;
				margin: 0 auto;
				padding: 0;
				display: inline-block;
				line-height: 42px;
				text-align: center;
				background-color: #fe8c00;

				.fa-search {
					width: 20px;
					height: 20px;
					color: #FFF;
				}
			}
		}

		#map {
			width: 100%;
			height: 505px;

			// #directionInfo {
			// 	width: 355px;
			// 	height: 50px;
			// 	background-color: rgba(0, 15, 30, 0.5);
			// 	z-index: 1;
			// 	top: 0;
			// 	position: absolute;
			// }	
		}

		#optionContainer {
			width: 375px;
			height: 101.5px;
			background-color: #F1C40F;
			text-align: center;
			
			label {
				width: 30%;
				height: 100%;
				margin: 0;

				.iconContainer {
					width: 55px;
					height: 55px;
					background-color: #878787;
					margin-top: 10px;
					margin-bottom: 5px;
					border-radius: 10px;
					display: flex;
					align-items: center;

					.fa-bed {
						width: 40px;
						height: 40px;
						color: #FFF;
					}

					.fa-tree {
						width: 40px;
						height: 40px;
						color: #FFF;
					}

					.fa-utensils {
						width: 40px;
						height: 40px;
						color: #FFF;
					}
				}

				p {
					font-size: 12px;
				}
			}

			label > input { /* HIDE RADIO */
			  	visibility: hidden; /* Makes input not-clickable */
			  	position: absolute; /* Remove input from document flow */
			}
			
			label > input:checked + div { /* (RADIO CHECKED) IMAGE STYLES */
			  	background-color: #fe8c00;
			}
		}
	}

	#modalContainer {
		width: 375px;
		height: 667px;
		position: absolute;
		top: 0px;
		display: none;
		background-color: rgba(0, 15, 30, 0.5);

		#imgContainer {
			width: 355px;
			height: 220px;
			background-color: pink;
			margin-top: 10px;
			border-radius: 10px 10px 0px 0px;
		}

		#infoContainer {
			width: 355px;
			height: 340px;
			background-color: #FFF;
		}

		#btnContainer {
			width: 355px;
			height: 87px;
			background-color: #878787;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 0px 0px 10px 10px;

			#getDirectionBtn {
				margin-left: 10px;
				margin-right: 0;
				width: 200px;
				height: 60px;
				background-color: #00C95B;
				border-radius: 10px 0px 0px 10px;
				display: flex;
				align-items: center;
				text-align: center;

				h2 {
					font-size: 20px;
					color: #FFF;
					margin-bottom: 0;
				}
			}

			#closeBtn {
				margin-right: 10px;
				margin-left: 0;
				width: 145px;
				height: 60px;
				background-color: #E52D27;
				border-radius: 0px 10px 10px 0px;
				display: flex;
				align-items: center;
				text-align: center;

				h2 {
					font-size: 20px;
					color: #FFF;
					margin-bottom: 0;
				}
			}
		}
	}


	

}